{% extends 'work/index.html' %}

{% block title %}Помощь{% endblock %}

{% block help %}
<div class="section text-center">
  <div style="color:white;" class="container">
    <h2>В нашей системе представлены такие кнопки как:</h2>
    <ul>
      <p>Главная, которая возвращается на главную страницы программы</p>
      <p>Вывод всех файлов</p>
      <p>Загрузка файла</p>
      <p>Помощь</p>
    </ul>

    <h2>Рекомендации по использованию</h2>
    <ul>
      <p>При нажатии на кнопку "Вывода всех файлов". У нас на выборе есть 4 кнопки такие как: Распечатать, 3 вида определителя текста</p>
      <p>При нажатии на кнопку "Помощь. Высвечивается страница с подсказкой для пользователя"</p>
      <p>При нажатии на загрузка файла. Высвечивается окно для выбора файла с расширением pdf</p>
      <p>Помощь</p>
    </ul>
  </div>
</div>
{% endblock %}
