{% extends 'work/index.html' %}

{% block title %}Get Help{% endblock %}

{% block help %}
<div class="section text-center">
  <div style="color:white;" class="container">
    <h2>Our system provide you next buttons:</h2>
    <ul>
      <p>Main page</p>
      <p>All document files</p>
      <p>Upload file</p>
      <p>Get help</p>
    </ul>

    <h2>Usage recommendations</h2>
    <ul>
      <p>When you press on "Print all uploaded files" button, You get 3 buttons, each button provide you algorithms for language recognition. Also you can print document in your document viewer, such as browser.</p>
      <p>When you press "Get Help", you are get information about system.</p>
      <p>When you press "Upload file", you can upload file to system and database for recognition.</p>
      <p>Get help</p>
    </ul>
  </div>
</div>
{% endblock %}
